### Short Haul DF

In [2]:
# DATA GRAIN:
#expedia
#date: April 2021-March 2022
#fare_type: Economy and ECONOMY
#departure_stops =1
#duration_hrsint <=3
#Top 3 CXR: AA, UA, DW
#TOP 5 SHORT FLIGHTS
#DFWORD
#ORDDFW
#ORDIAH
#IAHORD
#DFWATL
    
try:
    ctx= snowflake.connector.connect(user='CMU',
                                     password="ql2_analytics",
                                     account="zk56677",
                                     database='QL2_PROD',
                                     schema='public',
                                     warehouse='CMU_WAREHOUSE',
                                     role='SYSADMIN' )
    cursor = ctx.cursor()
    cur = cursor.execute(""" 
    WITH df1 as(
     SELECT 
         MARKET, SITE, CXR, QTS, QL2_QTS, DEPARTURE_DATE, QL2_DDATE, DEPARTURE_STOPS,FARE_TYPE, FARE, 
         FLIGHT_NUMBER, DEPARTURE_TIME, ROUTE, YEAR_MONTH, DURATION_FLIGHT,
         LEFT(DURATION_FLIGHT,CHARINDEX(':',DURATION_FLIGHT)-1) AS DURATION_HRS, 
         CAST(DURATION_HRS AS FLOAT)DURATION_HRSINT
     FROM CAPSTONE_RAW_AIRFARE_V 
     ),
     df2 as(
     SELECT *, EXTRACT(MONTH FROM QTS) AS MONTH, EXTRACT(YEAR FROM QTS) AS YEAR 
             FROM df1 WHERE (
                 DURATION_HRSINT <=3 
                 AND DEPARTURE_STOPS = 0 
                 AND (FARE_TYPE = 'ECONOMY' 
                 OR FARE_TYPE = 'Economy') 
          )
    )
    SELECT * FROM df2 
        WHERE 
        (CXR = 'AA' OR CXR = 'UA' OR CXR = 'DL') 
        AND  (MARKET = 'DFWORD' 
            OR MARKET = 'ORDDFW' 
            OR MARKET = 'ORDIAH' 
            OR MARKET = 'IAHORD' 
            OR MARKET = 'DFWATL')
    ;
    
 
    """)

    df_top5short_final = cur.fetch_pandas_all()
    
except Exception as e:
    print("failed connecting to QL2_PROD",e)

### Med Haul DF

In [3]:
#Splitting the departure_date into new columns of year/month
    
try:
    ctx= snowflake.connector.connect(user='CMU',
                                     password="ql2_analytics",
                                     account="zk56677",
                                     database='QL2_PROD',
                                     schema='public',
                                     warehouse='CMU_WAREHOUSE',
                                     role='SYSADMIN' )
    cursor = ctx.cursor()
    cur = cursor.execute(""" 
    WITH df1 as(
     SELECT 
         MARKET, SITE, CXR, QTS, QL2_QTS, DEPARTURE_DATE, QL2_DDATE, DEPARTURE_STOPS,FARE_TYPE, FARE, 
         FLIGHT_NUMBER, DEPARTURE_TIME, ROUTE, YEAR_MONTH, DURATION_FLIGHT,
         LEFT(DURATION_FLIGHT,CHARINDEX(':',DURATION_FLIGHT)-1) AS DURATION_HRS, 
         CAST(DURATION_HRS AS FLOAT)DURATION_HRSINT
     FROM CAPSTONE_RAW_AIRFARE_V 
     ), 
     df2 as(
         SELECT *, EXTRACT(MONTH FROM QTS) AS MONTH, EXTRACT(YEAR FROM QTS) AS YEAR 
             FROM df1 WHERE (
                 (DURATION_HRSINT >3 AND DURATION_HRSINT <= 6) 
                 AND DEPARTURE_STOPS =0
                 AND (FARE_TYPE = 'ECONOMY'OR FARE_TYPE = 'Economy') 
          )
     )
     SELECT * FROM df2 
        WHERE 
        (CXR = 'AA' OR CXR = 'UA' OR CXR = 'DL') 
        AND  (MARKET = 'LAXHNL' 
            OR MARKET = 'EWRIAH' 
            OR MARKET = 'LAXOGG' 
            OR MARKET = 'LAXMCO' 
            OR MARKET = 'LGADFW')
      ;
 
    """)

    df_top5med_final = cur.fetch_pandas_all()
    
except Exception as e:
    print("failed connecting to QL2_PROD",e)

### Long Haul DF

In [4]:
#Splitting the departure_date into new columns of year/month
    
try:
    ctx= snowflake.connector.connect(user='CMU',
                                     password="ql2_analytics",
                                     account="zk56677",
                                     database='QL2_PROD',
                                     schema='public',
                                     warehouse='CMU_WAREHOUSE',
                                     role='SYSADMIN' )
    cursor = ctx.cursor()
    cur = cursor.execute(""" 
    WITH df1 as(
     SELECT 
         MARKET, SITE, CXR, QTS, QL2_QTS, DEPARTURE_DATE, QL2_DDATE, DEPARTURE_STOPS,FARE_TYPE, FARE, 
         FLIGHT_NUMBER, DEPARTURE_TIME, ROUTE, YEAR_MONTH, DURATION_FLIGHT,
         LEFT(DURATION_FLIGHT,CHARINDEX(':',DURATION_FLIGHT)-1) AS DURATION_HRS, 
         CAST(DURATION_HRS AS FLOAT)DURATION_HRSINT
     FROM CAPSTONE_RAW_AIRFARE_V 
     ), 
     df2 as(
         SELECT *, EXTRACT(MONTH FROM QTS) AS MONTH, EXTRACT(YEAR FROM QTS) AS YEAR 
             FROM df1 WHERE (
                 DURATION_HRSINT >6 
                 AND DEPARTURE_STOPS = 0
                 AND (FARE_TYPE = 'ECONOMY'OR FARE_TYPE = 'Economy') 
          )
     )
     SELECT * FROM df2 
        WHERE 
        (CXR = 'AA' OR CXR = 'UA' OR CXR = 'DL') 
        AND  (MARKET = 'EZEMIA' 
            OR MARKET = 'MIAEZE' 
            OR MARKET = 'MIAGRU' 
            OR MARKET = 'LHRJFK' 
            OR MARKET = 'SEAHND')
      ;
 
    """)

    df_top5long_final = cur.fetch_pandas_all()
    
except Exception as e:
    print("failed connecting to QL2_PROD",e)

### Combining all 3 dataset

In [5]:
#Combining short, med, long haul dfs together
short_med = pd.concat([df_top5short_final, df_top5med_final], axis=0)
df_all = pd.concat([short_med, df_top5long_final], axis=0)

### Adding the Column Features for Short, Med, Long Haul

In [6]:
#Adding the new short, med, long haul features
df_all['SHORT_HAUL'] = df_all['DURATION_HRSINT'].apply(lambda x: 1 if x <= 3 else 0)
df_all['MED_HAUL'] = df_all['DURATION_HRSINT'].apply(lambda x: 1 if x > 3 and x <=6  else 0)
df_all['LONG_HAUL'] = df_all['DURATION_HRSINT'].apply(lambda x: 1 if x > 6 else 0)

# cleaning data

In [ ]:
a = df_all

In [ ]:
# check uniqueness of each column
#a['CURRENCY'].unique()
#a['RDATE'].unique()

In [ ]:
import time
import datetime as dt

# transforming type of DATE and QTS
a['tDATE'] = pd.to_datetime(a['DEPARTURE_DATE'])
a['tqts'] = pd.to_datetime(a['QTS'])
# calculating time till Departure
a['re'] = a['tDATE'] - a['tqts']
a

In [ ]:
# calculate days till departure
a['DaysTillDeparture'] = a['re'].dt.components.days
a

In [ ]:
# cast all string entry in FARE_TYPE column to lower case
a['FARE_TYPE'] = a['FARE_TYPE'].apply(lambda x: str.lower(x))

In [ ]:
# clean the data/type of DURATION

# first convert to string
def convert_to_string (x):
    string = str(x).split('\n')[0].split(' ')[-1] + ':00'
    return string
a['DURATION_FLIGHT'] = a['DURATION_FLIGHT'].apply(convert_to_string)
a['DURATION_FLIGHT']

In [ ]:
# convert DURATION from string to timedelta object
#a['DURATION_FLIGHT']= pd.to_timedelta(a['DURATION_FLIGHT'])
#a['DURATION_FLIGHT']

In [ ]:
#timedelta.round(freq='H')

In [ ]:
# convert DURATION from timedelta object to total seconds in float type
#a['DURATION_FLIGHT'] = a['DURATION_FLIGHT'].apply(lambda x: x.total_seconds())
#a['DURATION_FLIGHT']

In [ ]:
a

# Adding the Column Features for Pre-pandemic/Post-pandemic as 0/1</h3>

In [ ]:
import datetime as dt

In [ ]:
# # adding pandemic features
b = a

# # 0: pre-pandemic, 1: post-pandemic
b['Pandemic'] = (df_all['DEPARTURE_DATE'] > dt.date(2020,3,20)).apply(lambda x: int(x))

# Adding holiday features as 1/0</h3>

In [ ]:
#pip install holidays
import holidays

In [ ]:
import holidays

# get holidays of US
us_holidays = holidays.UnitedStates()

In [ ]:
# adding holiday features

## check if a date is a US holiday
def checkHoliday(date):
    holiday_name = us_holidays.get(date.strftime("%m-%d-%Y"))
    if holiday_name != None:
        return int(1)
    else:
        return int(0)

b['Holidays'] = b['DEPARTURE_DATE'].apply(lambda x: checkHoliday(x))

# Adding Weekday/Weekend Feature as 1/0

In [ ]:
# return 1 for weekday, 0 for weekend
def checkWeekdays(date):
    dayOfWeek = date.weekday()
    return int(dayOfWeek < 5)
b['Weekday'] = b['DEPARTURE_DATE'].apply(lambda x: checkWeekdays(x))

b[b.DEPARTURE_DATE == dt.date(2021,12,25)].head()

# Outputing final df

In [ ]:
final_df = b.dropna()